
.row{
    --bs-gutter-x: 3rem; 
    margin: 2rem 0px;
}

.sortby-bar {
    margin-bottom: 35px;
    padding: 15px 0;
    border-bottom: 1px solid #f0f0f0;
}

.card{
    border: 1px solid #eee;
    transition: all 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}

.card-body {
    padding: 20px;
}

.pagination-wrapper {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

/* ddddddddddddddddddddddd */

.book-cover-place{
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
}

.card-img-top {
    height: 230px; 
    
    object-fit: contain; 
    
    background-color: #fdfdfd; 
    padding: 15px;
    
    width: auto;
    margin: 0 auto;
}

/* RESPONSIVNOST */

/* --- MANUÁLNA REZPONZIVITA --- */
/* 1. Základ pre všetky stĺpce v našej mriežke */
.custom-book-grid .col {
    flex: 0 0 auto; /* Zakáže stĺpcom samovoľne sa rozťahovať */
    width: 100%;    /* Na úplne malom mobile (pod 576px) bude 1 kniha na riadok */
}

/* 2. TABLET (Small/Medium zariadenia - od 576px vyššie) */
@media (min-width: 800px) {
    .custom-book-grid .col {
        width: 50%; /* 2 knihy vedľa seba */
    }
}

/* 3. LAPTOP / DESKTOP (od 992px vyššie) */
@media (min-width: 1200px) {
    .custom-book-grid .col {
        width: 33.333%; /* 3 knihy vedľa seba */
    }
}

@media(max-width:800px){
    .main-layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
}
/* Nastavenie rozloženia 1:1 na mobile, 250px:zvyšok na PC */

.main-layout {
    display: flex;
    gap: 20px;
}
