
<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col footer-text">
                <h3>ReadIt</h3>
                <p>Najlepšie miesto pre knihy online. Objavujte novinky, bestsellery a zľavy.</p>
            </div>

            <div class="col footer-text">
                <h5>Rýchle odkazy</h5>
                <ul>
                    <li><a href="#">Novinky</a></li>
                    <li><a href="#">Knihy</a></li>
                    <li><a href="#">Akcie a zľavy</a></li>
                    <li><a href="#">Poukážky</a></li>
                </ul>
            </div>

            <div class="col footer-text">
                <h5>Podpora</h5>
                <ul>
                    <li><a href="#">Obchodné podmienky</a></li>
                    <li><a href="#">Platba a doprava</a></li>
                    <li><a href="#">Reklamácie</a></li>
                </ul>
            </div>

            <div class="col footer-text">
                <h5>Kontakt</h5>
                <ul>
                    <li>Email: <a href="mailto:info@readit.sk">info@readit.sk</a></li>
                    <li>Tel.: <a href="tel:+421901234567">+421 901 234 567</a></li>
                    <li>Adresa: Hlavná 12, Bratislava</li>
                </ul>
                <p class="mt-3">© 2026 ReadIt. Všetky práva vyhradené.</p>
            </div>

        </div>
    </div>
</footer>