<div class="slider-wrapper" style="position: relative;">
    <button class="carousel-control-prev" type="button" onclick="scrollSlider(this, -1)">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <div class="book-slider">
        <div class="cardd">
            <div class="card-img-placeholder">
                <img src="../../images/adults.webp" class="cardd-img" alt="Názov knihy">
            </div>
            <div class="cardd-body"><h6 class="cardd-body-title">Názov knihy 1</h6><p class="cardd-body-author">Autor</p><p class="cardd-body-price">15 €</p></div>
        </div>
        <div class="cardd">
            <div class="card-img-placeholder">
                <img src="../../images/detska.webp" class="cardd-img" alt="Názov knihy">
            </div>
            <div class="cardd-body"><h6 class="cardd-body-title">Názov knihy 2</h6><p class="cardd-body-author">Autor</p><p class="cardd-body-price">15 €</p></div>
        </div>
        <div class="cardd">
            <div class="card-img-placeholder">
                <img src="../../images/psychologia.webp" class="cardd-img" alt="Názov knihy">
            </div>
            <div class="cardd-body"><h6 class="cardd-body-title">Názov knihy 3</h6><p class="cardd-body-author">Autor</p><p class="cardd-body-price">15 €</p></div>
        </div>
        <div class="cardd">
            <div class="card-img-placeholder">
                <img src="../../images/teenager.webp" class="cardd-img" alt="Názov knihy">
            </div>
            <div class="cardd-body"><h6 class="cardd-body-title">Názov knihy 4</h6><p class="cardd-body-author">Autor</p><p class="cardd-body-price">15 €</p></div>
        </div>
        <div class="cardd">
            <div class="card-img-placeholder">
                <img src="../../images/youngadult.webp" class="cardd-img" alt="Názov knihy">
            </div>
            <div class="cardd-body"><h6 class="cardd-body-title">Názov knihy 5</h6><p class="cardd-body-author">Autor</p><p class="cardd-body-price">15 €</p></div>
        </div>
        <div class="cardd">
            <div class="card-img-placeholder">
                <img src="../../images/zivotnystyl.webp" class="cardd-img" alt="Názov knihy">
            </div>
            <div class="cardd-body"><h6 class="cardd-body-title">Názov knihy 6</h6><p class="cardd-body-author">Autor</p><p class="cardd-body-price">15 €</p></div>
        </div>
        <div class="cardd">
            <div class="card-img-placeholder">
                <img src="../../images/adults.webp" class="cardd-img" alt="Názov knihy">
            </div>
            <div class="cardd-body"><h6 class="cardd-body-title">Názov knihy 7</h6><p class="cardd-body-author">Autor</p><p class="cardd-body-price">15 €</p></div>
        </div>
        <div class="cardd">
            <div class="card-img-placeholder">
                <img src="../../images/detska.webp" class="cardd-img" alt="Názov knihy">
            </div>
            <div class="cardd-body"><h6 class="cardd-body-title">Názov knihy 8</h6><p class="cardd-body-author">Autor</p><p class="cardd-body-price">15 €</p></div>
        </div>
        <div class="cardd">
            <div class="card-img-placeholder">
                <img src="../../images/psychologia.webp" class="cardd-img" alt="Názov knihy">
            </div>
            <div class="cardd-body"><h6 class="cardd-body-title">Názov knihy 9</h6><p class="cardd-body-author">Autor</p><p class="cardd-body-price">15 €</p></div>
        </div>
        <div class="cardd">
            <div class="card-img-placeholder">
                <img src="../../images/teenager.webp" class="cardd-img" alt="Názov knihy">
            </div>
            <div class="cardd-body"><h6 class="cardd-body-title">Názov knihy 10</h6><p class="cardd-body-author">Autor</p><p class="cardd-body-price">15 €</p></div>
        </div>
        
        </div>

    <button class="carousel-control-next" type="button" onclick="scrollSlider(this, 1)">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>