.order-row {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1.8fr 0.5fr;
  align-items: start;
  column-gap: 20px;
  padding: 5px 0 20px;
  border-radius: 10px;
  
}

.order-row:hover{
  transform: translateY(-2px);
  box-shadow: 5px 5px 5px 5px var(--shadow-main);
}

.order-col{
  margin-left: 20px;
}
.order-number strong {
  display: block;
  font-size: 18px;
  color: var(--color-text-main);
}

.invoice {
  font-size: 15px;
  color: var(--color-text-main);
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.order-date,
.order-status,
.order-price {
  font-size: 18px;
  color: var(--color-text-main);
  padding-top: 2px;
}

/* --- RESPONZIVITA --- */
@media (max-width: 600px) {
  .order-row {
    grid-template-columns: 1fr; 
    
    gap: 12px;
    padding: 25px 15px;
    text-align: center;
    
    border-bottom: 2px solid var(--color-border-light);
    margin-bottom: 10px;
  }

  .order-col {
    margin-left: 0; 
    width: 100%;
  }

  .order-number strong {
    font-size: 20px;
  }

  .invoice {
    justify-content: center;
    margin-top: 5px;
  }

  .order-text {
    font-size: 16px;
    padding-top: 5px;
  }

  .order-price {
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
    color: var(--color-text-main);
  }
}