.footer-row-custom {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-col {
  flex: 1 1 100%;
}

@media (min-width: 600px) {
  .footer-col {
      flex: 1 1 calc(50% - 30px);
  }
}

@media (min-width: 1000px) {
  .footer-col {
      flex: 1 1 calc(25% - 30px);
  }
}

/* --- zvysok stylovania --- */
.footer {
  background-color: var(--color-footer);
  color: #e1e1e1;
  padding: 5rem 0 4rem;
}

.footer-col h3, .footer-col h5 {
  color: #fff;
  margin-bottom: 1.2rem;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col a {
  color: var(--color-link-light);
  text-decoration: none;
  transition: 0.3s;
}

.footer-col a:hover {
  color: #fff;
}