/* .slider-wrapper {
    padding: 0 40px;
    position: relative;
    display: flex;
    align-items: center;
} */

/*
.book-slider {
    display: grid;
    grid-auto-flow: column; /* Knihy pôjdu do nekonečného riadku 
    grid-auto-columns: calc(100%); /* Mobil: 1 kniha na celú šírku 
    gap: 20px;
    overflow-x: auto; /* Umožní scrollovanie prstom na mobile 
    scroll-snap-type: x mandatory; /* Prichytávanie kníh 
    scroll-behavior: smooth;
    scrollbar-width: none; /* Skryje škaredý scrollbar 
}
    */

/* .book-slider::-webkit-scrollbar {
    display: none;
}

.book-slider .cardd {
    scroll-snap-align: start;
}

@media (min-width: 600px) {
    .book-slider { grid-auto-columns: calc((100% - (1 * 20px)) / 2); }
}

@media (min-width: 800px) {
    .book-slider { grid-auto-columns: calc((100% - (2 * 20px)) / 3); }
}

@media (min-width: 1200px) {
    .book-slider { grid-auto-columns: calc((100% - (4 * 20px)) / 5); }
}

.carousel-control-prev, .carousel-control-next {
    width: 45px;
    height: 45px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 10;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1) grayscale(100) brightness(0);
    width: 20px;
}

.carousel-control-prev { 
    left: 0px;
}

.carousel-control-next { 
    right: 0px;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: #f8f8f8;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
} */